
.header {
  background: red;
  padding: 50px 100px;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
  color: white;

}

.main {
  background: rgb(0, 38, 255);
  padding: 50px 100px;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
  color: white;
}


.footer {
  background: rgb(0, 255, 34);
  padding: 50px 100px;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
  color: white;

}